@media only screen and (max-width: 800px) {
    #desktopheader {
        display: none;
    }
        .sectionbox-gray {
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
            .sectionbox-pic {
                width: 100%;
            }
                .text-with-button {
                    margin: 32px 16px 32px 16px;
                }
                    button {
                        width: 100%;
                    }
}

@media only screen and (min-width: 800px) {
    #mobilheader {
        display: none;
    }
        .sectionbox-gray {
        flex-direction: row;
        padding: 32px 24px 32px 24px;
        }
            .sectionbox-pic {
            width: 60%;
            }
                .text-with-button {
                    margin-left: 50px;
                    margin-right: 50px;
                    width: 100%;
                }

}