@media only screen and (max-width: 800px) {
    #desktopheader {
        display: none;
    }
        .sectionbox-gray {
            flex-direction: column;
            padding: 0;
        }
                .sectionbox-pic {
                    width: 100%;
                    margin: 0;
                }
                button {
                    width: 100%;
                }
                    #right-container {
                        position: relative;
                        margin-top: 32px;
                        margin-bottom: 32px;
                    }
                            .section-practice-desktop {
                                display: none;
                            }
}

@media only screen and (min-width: 800px) {
    #mobilheader {
        display: none;
    }
        .sectionbox-gray {
        flex-direction: row;
        }
                .sectionbox-pic {
                    width: 60%;
                }
                    button {
                        max-width: 100%;
                    }
                        .section-practice-mobile {
                            display: none;
                        }

}