body {
    margin: 0;
    padding: 0;
    color: rgb(74 74 74);
    font-family: 'Avenir LT Std';
    width: 100%;
}

#desktopheader,
#mobilheader {
    display: flex;
    height: 64px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-right: 24px;
}

#mobilnav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 24px 0 24px;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}

.headerlogo {
    display: flex;
    margin: 0 auto 0 24px;
    flex-direction: row;
    align-items: center;
    height: 32px;
    cursor: pointer;
}

.logo {
    padding-top: 5px;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: .05rem;
    padding-bottom: 20px;
}

h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .05rem;
}

#logo-h4 {
    padding-top: 6px;
    font-size: 24px;
}

h5 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: rgb(216 216 216);
    letter-spacing: .05rem;
}

#logo-h5 {
    padding-top: 6px;
}

p {
    margin: 0;
}

.sectionbox-gray {
    display: flex;
    background-color: rgb(216 216 216);
    margin: 0;
}

.sectionbox-pic {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 32px 24px 32px 24px;
}

#right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 32px 24px 32px 24px;
}

.text-with-button {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

button {
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(74 74 74);
    color: white;
    margin-top: 24px;
    cursor: pointer;
}

.undertext {
    padding-top: 32px;
}

.section-practice-desktop {
    display: flex;
    flex-direction: row;
    width: 100%;;
}

.section-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 32px 24px 32px 24px;
}

.section-left-pic {
    width: 100%;
    padding-bottom: 32px;
}

.section-right {
    display: block;
    width: 40%;
    border-left: .5px solid gray;
    margin: 32px 16px 32px 16px;
}

#small-section-right-1 {
    display: flex;
    gap: 16px;
    padding: 0 0 16px 16px;
}

    #small-section-right-2 {
        display: flex;
        gap: 16px;
        padding: 16px;
    }

        #small-section-right-3 {
            display: flex;
            gap: 16px;
            padding: 16px;
            background-color: rgb(216 216 216);
        }

            .small-section-picture {
                width: 35%;
                height: auto;
            }

                .small-section-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 8px;
                    width: 65%;
                }

a {
    color: rgb(0, 119, 255);
    font-size: 15px;
    cursor: pointer;
}

.section-practice-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 16px 16px 32px 16px;
}

.small-section {
    display: flex;
    flex-direction: column;
}

.small-mobile-picture {
    width: 100%;
}

#mobiletext {
    width: 92%;
    padding: 32px 16px 64px 16px;
}