body {
    margin: 0;
    padding: 0;
    color: rgb(74 74 74);
    font-family: 'Avenir LT Std';
}

#desktopheader,
#mobilheader {
    display: flex;
    height: 64px;
    width: 100%;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-right: 24px;
}

#mobilnav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 24px 0 24px;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}

.headerlogo {
    display: flex;
    margin: 0 auto 0 24px;
    flex-direction: row;
    align-items: center;
    height: 32px;
    cursor: pointer;
}

.logo {
    padding-top: 5px;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: .05rem;
    padding-bottom: 20px;
}

h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: .05rem;
}

#logo-h4 {
    padding-top: 6px;
}

h5 {
    margin: 0;
    font-size: 24px;
    color: rgb(216 216 216);
    letter-spacing: .05rem;
}

#logo-h5 {
    padding-top: 6px;
}

.sectionbox-gray {
    display: flex;
    justify-content: flex-start;
    background-color: rgb(216 216 216);
    width: 100%;
    margin: 0;
}

.text-with-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    font-family: inherit;
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(74 74 74);
    color: white;
    margin-top: 24px;
    width: 100%;
    cursor: pointer;
}

p {
    margin: 0;
}