body {
    margin: 0;
    padding: 0;
    color: rgb(74 74 74);
    font-family: 'Avenir LT Std';
    width: 100%;
}

#desktopheader,
#mobilheader {
    display: flex;
    height: 64px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-right: 24px;
}

#mobilnav {
    display: flex;
    justify-content: space-evenly;
    margin: 0 24px 0 24px;
    width: 100%;
}

li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
}

.headerlogo {
    display: flex;
    margin: 0 auto 0 24px;
    flex-direction: row;
    align-items: center;
    height: 32px;
    cursor: pointer;
}

.logo {
    padding-top: 5px;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: .05rem;
    padding-bottom: 20px;
}

h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .05rem;
}

#logo-h4 {
    padding-top: 6px;
    font-size: 24px;
}

h5 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    color: rgb(216 216 216);
    letter-spacing: .05rem;
}

#logo-h5 {
    padding-top: 6px;
}

p {
    margin: 0;
}

.sectionbox-gray {
    display: flex;
    background-color: rgb(216 216 216);
    margin: 0;
}

.sectionbox-pic {
    display: flex;
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.text-with-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 32px 24px 32px 24px;
    width: 40%;
}

button {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(74 74 74);
    color: white;
    margin-top: 24px;
    cursor: pointer;
}

.undertext {
    padding-top: 32px;
}

.section-practice-desktop {
    display: flex;
    flex-direction: row;
    width: 100%;;
}

.section-left {
    display: flex;
    flex-direction: column;
    margin: 32px 24px 32px 24px;
    width: 60%;
}

.section-left-pic {
    padding-bottom: 32px;
}

.section-right {
    display: flex;
    flex-direction: column;
    border-left: .5px solid rgb(216 216 216);
    width: 40%;
    margin: 0;
}

#small-section-right-1 {
    display: flex;
    gap: 16px;
    padding: 32px 16px 16px 16px;

}

    #small-section-right-2 {
        display: flex;
        gap: 16px;
        padding: 16px;
    }

        #small-section-right-3 {
            display: flex;
            gap: 16px;
            padding: 16px;
            background-color: rgb(216 216 216);
        }

            .small-section-picture {
                width: 35%;
                height: auto;
            }

                .small-section-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 8px;
                }

a {
    color: rgb(0, 119, 255);
    font-size: 15px;
    cursor: pointer;
}

.section-practice-mobile {
    display: flex;
    flex-direction: column;
    justify-content : center;
    margin: 32px 16px 32px 16px;
}

    .small-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        .small-mobile-picture {
            width: 100%;
        }

        #mobiletext {
            padding: 32px 16px 32px 16px;
        }

#section-3 {
    padding: 32px 72px 32px 72px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #eaebec;
}

    #pictures-with-comment {
        margin: 0 0 32px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
    }

        .learning-small-section {
            display: flex;
            flex-direction: column;
            flex: 1 0 30%;
            margin: 0;
        }

            #learning-pictures {
                height: auto;
            }

                .picturetext {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    padding: 16px 16px 24px 16px;
                    gap: 8px;
                    background-color: white;
                    margin: 0;
                    color: grey;
                }

                    .picture-header {
                        font-weight: 600;
                        margin: 10px 0 10px 0;
                        color: rgb(88, 88, 88);
                    }

.learning-m-boxes {
    background-color: rgb(216 216 216);
    width: 100%;
    cursor: pointer;
}

h2 {
    margin: 24px 16px 24px 16px;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
    color: rgb(105, 105, 105);
}

#learning-objects {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

#section-4 {
    text-align: center;
}

#mobile-4 {
    padding: 32px 0 24px 0;
    border-top: .5px solid rgb(216 216 216);
    border-bottom: .5px solid rgb(216 216 216);
}

video {
    width: 100%;
    height: auto;
}

#thesis-desktop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    border-bottom: .5px solid rgb(216 216 216);
}

#thesis-header {
    padding-bottom: 0;
}

.thesis-section-left {
    display: flex;
    flex-direction: column;
    margin: 32px 24px 32px 24px;
    width: 75%;
}

#thesis-desktop-video {
    width: 100%;
}

#headertext {
    font-size: 20px;
    font-weight: 600;
    padding: 24px 0 8px 0;
}

#thesis-section-right {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

    #small-group-1 {
        display: flex;
        gap: 16px;
        padding: 16px;
        background-color: #eaebec;
    }

        #small-group-2 {
            display: flex;
            gap: 16px;
            padding: 16px;
        }

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 32px 24px;
    font-size: .8rem;
    color: gray;
    gap: 10px;
}

    #footerlinks {
        display: flex;
        gap: 8px;
        cursor: pointer;
    }